<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>基础元素</string>
		<key>rows</key>
		<array>
			<dict>
				<key>title</key>
				<string>UILabel</string>
			</dict>
            <dict>
                <key>title</key>
                <string>UIImageView</string>
            </dict>
            <dict>
                <key>title</key>
                <string>可扩展性的tabbar</string>
            </dict>
            <dict>
                <key>title</key>
                <string>UIButton</string>
            </dict>
            <dict>
                <key>title</key>
                <string>自定义cell</string>
            </dict>
            <dict>
                <key>title</key>
                <string>view的倒角和阴影</string>
            </dict>
            <dict>
                <key>title</key>
                <string>通告栏</string>
            </dict>
            <dict>
                <key>title</key>
                <string>进度条</string>
            </dict>
            <dict>
                <key>title</key>
                <string>滑动条</string>
            </dict>
		</array>
	</dict>
    <dict>
        <key>title</key>
        <string>常见功能组件</string>
        <key>rows</key>
        <array>
            <dict>
                <key>title</key>
                <string>跑马灯</string>
            </dict>
            <dict>
                <key>title</key>
                <string>瀑布流</string>
            </dict>
            <dict>
                <key>title</key>
                <string>自定义搜索框</string>
            </dict>
            <dict>
                <key>title</key>
                <string>常见的collection视图</string>
            </dict>
            <dict>
                <key>title</key>
                <string>不规则的CollectionView</string>
            </dict>
            <dict>
                <key>title</key>
                <string>分页的collectionview</string>
            </dict>
            <dict>
                <key>title</key>
                <string>自定义弹窗</string>
            </dict>
            <dict>
                <key>title</key>
                <string>自定义Toast</string>
            </dict>
            <dict>
                <key>title</key>
                <string>自定义popover</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>title</key>
        <string>特色功能</string>
        <key>rows</key>
        <array>
            <dict>
                <key>title</key>
                <string>滑动导航栏透明</string>
            </dict>
            <dict>
                <key>title</key>
                <string>瑞幸咖啡首页</string>
            </dict>
            <dict>
                <key>title</key>
                <string>文件下载demo</string>
            </dict>
        </array>
    </dict>
</array>
</plist>
